.title {
    margin-left: 28px;
    height: 140px;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_posts {
    width: 1550px;
    h2 {
        color: #383838;
        font-size: 40px;
        font-weight: 300;
    }
}