.title {
  margin-left: 60px;
  height: 140px;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.main {
  width: 1200px;
  box-shadow: #383838;
  color: #383838;
  text-align: center;
  font-size: xx-large;
}
